<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/home.css">
    <script src="./js/jQuery.js"></script>
</head>
<body>
<h1 id="page-heading"><span><i class="far fa-address-book"></i></span> Contact List  </h1> 
<div  id="container">
    <ul>           
        
        <% for(let i of contact_list){ %>

            <li id="tab">
                <span id="delete-button"><a href="/delete-contact/?id=<%= i._id %>"><i id="delete-button" class="far fa-trash-alt"></i></a></span>

                <p id="name"><span><i class="far fa-address-card"></i></span><%= i.name %> </p>
                <p id="number"><span><i class="fas fa-mobile"></i></span><%=  i.phone %> </p>
            </li> 
      <%  }  %> 
    </ul>


<form action="/create-contact" method="POST">

    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="number" name="phone" placeholder="Enter Number" required>
    <button type="submit"><i class="fas fa-user-plus"></i></button>
</form>
</div>
   <script type="text/javascript" src="/js/home.js"></script> 
</body>
</html>